<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link href="/public/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/public/assets/libs/css/style.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css" />
  <link rel="stylesheet"
    href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css" />
  <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

  <title>Thêm diễn viên</title>
  <link rel="icon" href="/public/img/core-img/favicon.ico" />
</head>

<body>
  <div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png"
            alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item dropdown nav-user">
              <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="<%= admin.admin_avatar %> " alt="" class="user-avatar-md rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarDropdownMenuLink2">
                <div class="nav-user-info">
                  <% fullName=admin.loginInformation.username %>
                    <h5 class="mb-0 text-white nav-user-name">
                      <%= fullName %>
                    </h5>
                </div>
                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Tài khoản</a>
                <a class="dropdown-item" href="/admin/dashboard/logout"><i class="fas fa-power-off mr-2"></i>Đăng
                  xuất</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
              <li class="nav-divider">
                Menu
              </li>
              <li class="nav-item ">
                <div id="submenu-1" class="collapse submenu show">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/dashboard">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/movie-management/page-1">Quản lý phim</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/admin/actor-management/page-1">Quản lý diễn viên</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/director-management/page-1">Quản lý đạo diễn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/genre-management/page-1">Quản lý thể loại</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/rating-management/page-1">Quản lý đánh giá</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/comment-management/page-1">Quản lý bình luận</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/user-management/page-1">Quản lý người dùng</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->

    <div class="dashboard-wrapper">
      <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-header">
                <h2 class="pageheader-title">Thêm diễn viên</h2>
                <div class="page-breadcrumb">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/admin/dashboard" class="breadcrumb-link">Menu</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="/admin/actor-management/page-1" class="breadcrumb-link">Quản lý diễn viên</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Thêm diễn viên
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="content" style="width: 100%; height: 100vh">
            <div class="container-fluid">
              <form class="row g-3" accept-charset="utf-8" spellcheck="false" enctype="multipart/form-data"
                action="/admin/actor-management/add" method="POST">
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                  <label for="validationServer01" class="form-label">URL (không dấu, không hoa, không cách, VD:
                    pho-dinh-manh)</label>
                  <input type="text" name="actor_url" class="form-control" id="validationServer01" value="" required
                    onblur="checkDuplicateActorURL(this.value)" />
                  <div id="urlNameError"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                  <label for="validationServer01" class="form-label">Tên diễn viên</label>
                  <input type="text" name="actor_name" class="form-control" id="validationServer01" value="" required />
                </div>
                <label for="formFileMultiple" style="margin: 0 15px;" class="form-label">Ảnh</label>
                <input class="form-control mb-3 mt-1" style="margin: 0 15px; display: inline-block;" type="file"
                  id="formFileMultiple" name="actor_thumbnail" required />
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                  <label for="validationServer01" class="form-label">Mô tả</label>
                  <textarea name="actor_description" class="form-control" id="validationServer01" required></textarea>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mt-3" type="submit" id="submitForm">
                    Thêm diễn viên
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jquery 3.3.1 -->

  <script>
    function checkDuplicateActorURL(urlName) {
      var urlNameError = document.getElementById("urlNameError");
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/admin/check-duplicate-actor-url", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.isDuplicate) {
              document.getElementById("submitForm").style.opacity = "0.5";
              document.getElementById("submitForm").style.pointerEvents = "none";
              urlNameError.style.color = "red";
              urlNameError.textContent = "URL đã tồn tại. Vui lòng chọn URL khác";
              document.getElementById("validationServer01").focus();
            } else if (!response.isDuplicate) {
              document.getElementById("submitForm").style.opacity = "1";
              document.getElementById("submitForm").style.pointerEvents = "";
              urlNameError.style.color = "green";
              urlNameError.textContent = "URL không trùng";
            }
          } else {
            urlNameError.textContent = "Đã xảy ra lỗi trong quá trình kiểm tra URL";
          }
        }
      };

      if (urlName.trim() === "") {
        urlNameError.style.color = "red";
        urlNameError.textContent = "Vui lòng nhập URL";
        return;
      }

      var data = {
        actor_url: urlName.trim()
      };
      xhr.send(JSON.stringify(data));
    }
  </script>

  <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
  <!-- bootstap bundle js -->
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <!-- slimscroll js -->
  <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
  <!-- main js -->
  <script src="/public/assets/libs/js/main-js.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>