.tabs {
    h4 {
        color: $bg-color-orange;
    }
    .nav-item {
        background-color: $bg-color-gray;
        margin: 0 5px;
        height: 28px;
        transition: all 0.7s;
        .nav-link {
            font-size: 14px;
            padding: 3px 5px;
            border: none;
            color: $color-white;
        }
        &:hover {
            background-color: $bg-color-orange;
        }
    }
}

.list-film {
    .large {
        width: 40%;
        float: left;
        margin-bottom: 10px;
        a {
            position: relative;
            display: block;
            margin-right: 10px;
            img {
                width: 100%;
                height: 273px;
            }
            span {
                color: $color-white;
                font-size: 14px;
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $bg-color-orange;
                border-radius: 3px;
                background-size: 200% 100%;
                background-image: linear-gradient(to right, #c02425 0%, #f0cb35 51%, #c02425 100%);
                &::after {
                    content: "";
                    border-bottom: 6px solid #dd8b52;
                    border-left: 6px solid transparent;
                    display: block;
                    border-right: 6px solid transparent;
                    bottom: -9.5px;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%) rotate(180deg);
                }
            }
            p {
                position: absolute;
                font-size: 20px;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 10px;
                color: $color-white;
                background: $bg-2;
                width: 100%;
            }
        }
    }
    .small {
        width: 20%;
        float: left;
        margin-bottom: 10px;
        a {
            display: block;
            margin-right: 10px;
            img {
                width: 100%;
                height: 134px;
            }
            position: relative;
            span {
                color: $color-white;
                font-size: 11px;
                padding: 5px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $bg-color-orange;
                border-radius: 3px;
                background-size: 200% 100%;
                background-image: linear-gradient(to right, #c02425 0%, #f0cb35 51%, #c02425 100%);
                &::after {
                    content: "";
                    border-bottom: 6px solid #dd8b52;
                    border-left: 6px solid transparent;
                    display: block;
                    border-right: 6px solid transparent;
                    bottom: -9px;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%) rotate(180deg);
                }
            }
            p {
                position: absolute;
                font-size: 15px;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 10px;
                color: $color-white;
                background: $bg-2;
                width: 100%;
            }
        }
    }
    
}
