* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	background-color: #1a1a1a;
	color: #fff;
}

div {
	box-sizing: border-box;
}

.pd-tb-8 {
	padding: 80px 0;
}
.clear {
	clear: both;
}