//----------BACKGROUND-COLOR----------
$bg-color-black: #000;
$bg-color-black-1: #1a1a1a;
$bg-color-black-2: #252525;


$bg-color-orange: #ff9601;

$bg-color-gray: #504d49;
$bg-color-gray-1: #3a3a3a;




//----------BACKGROUND----------
$bg-1: rgba(0,0,0,.3);
$bg-2: rgba(0,0,0,.6);


//------COLOR---------------
$color-white:#fff;
$color-orange: #ff9601;
$color-red: red;
$color-red-1: #d43f3a;

//--------FONT----------
$font-size-html:16px;

$font-size-small:14px;


$font-weight-bold:bold;
$font-weight-600:600; 
$font-weight-700:700; 


//------PADDING-----------
$pd-1:6px;
$pd-2:10px;
$pd-3:20px;

//------MARGIN------------
$mg-up-1:-5px;

//------LINE-HEIGHT--------
$line-height-1: 10px;


//----------HEIGHT----------
$height-1: 600px;

//----------BORDER---------
$border-1:1px solid #4f91ca;

//---------SIZE-------------
$logo-width:60px;

//---------SHADOW-----------
$box-shadow:1px 20px 70px -10px rgba(59,59,59,.63);
